html {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
div {
  width: auto;
  height: auto;
  text-align: center;
  align-content: center;
  background: #ffffff;
}
.img-div
{
  width: 100%;
  height: 5em;
  text-align: center;
  align-content: center;
  background: #ffffff;
  margin: 0 auto;
}
h1 {
  background-color: transparent;
  text-align: center;
  color: pink;
  -webkit-text-stroke: 1px black;
  font-size: 75px;
  font-style: bold;
  font-family: serif;

}

p {
  font-size: 30px;
  opacity: 1;
}

p.hint {
  font-size: 20px;
  opacity: 1;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  text-align: center;
}
.shown {
  visibility: visible;
  opacity: 1;
  font-size: 20px;
  color: red;
  opacity: 1;
  font-family: sans-serif;
}

#female-img {
  position: absolute;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

}
.btn-male {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 40%;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;

}

.btn-male:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  width: 40%;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
}

.btn-female {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 40%;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;

}

.btn-female:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  width: 40%;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
}
img {
  position: absolute;
  display: inline-block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.img-ears {
  position: relative;
  display: inline-block;
  right: 5.1em;
  top: 9.55em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: auto;
  opacity: 0.1;
  z-index: 1;
}

.img-ears:hover {
  position: relative;
  display: inline-block;
  right: 5.1em;
  top: 9.55em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: auto;
  opacity: 0.9;
  z-index: 1;
}

.img-eyes {
  position: relative;
  display: block;
  right: 3.7em;
  top: 9.8em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: auto;
  opacity: 0.1;
  z-index: 1;
}

.img-eyes:hover {
  position: relative;
  display: block;
  right: 3.7em;
  top: 9.8em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: auto;
  opacity: 0.9;
  z-index: 2;
}

.img-paws {
  position: relative;
  display: block;
  left: 1.1em;
  top: 18.8em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: auto;
  opacity: 0.1;
  z-index: 3;
}

.img-paws:hover {
  position: relative;
  display: block;
  left: 1.15em;
  top: 18.8em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: auto;
  opacity: 0.9;
  z-index: 3;
}

.img-tail {
  position: relative;
  display: inline-block;
  left: 15.4em;
  top: 5.1em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: auto;
  opacity: 0.1;
  z-index: 4;
}

.img-tail:hover {
  position: relative;
  display: inline-block;
  left: 15.4em;
  top: 5.1em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: auto;
  opacity: 0.9;
  z-index: 4;
}

.img-full {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.7;
  width: auto;
  height: auto;
}
.img-full:hover {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.7;
  width: auto;
  height: auto;
}

#sorry800 {
  height: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;

}
